/**
 * GAME UNO STYLING
 * 
 * @author Andy Nguyen
 * 
 * @description
 *    This file contains styling for the Game Uni page, providing a responsive,
 *    retro-inspired layout for a quiz-style game. The styles focus on the grid
 *    layout, animations, and interactivity, enhancing the user experience during
 *    gameplay.
 */

@import url("App.css");

.gameuno-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 120px;
  background-color: var(--amber);
  width: 100vw;
  height: 100vh;
}

.question-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  padding: 2rem;
  width: 70vw;
  height: 20vh;
  margin-top: 0;
  border: 0.5vw solid #000;
  box-shadow: 0.5vw 0.5vw #000;
}

.question-section p {
  font-size: 3vh;
  color: #000;
}

.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 18vh);
  gap: 1vw;
  margin-bottom: 150px;
  cursor: pointer;
  width: 90%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  padding: 2rem;
  color: var(--white);
  border: 0.4vw solid #000;
  box-shadow: 0.4vw 0.4vw #000;
  transition: 0.1s ease;
}

.grid-item:active {
  box-shadow: none;
  transform: translate(0.4vw, 0.4vw);
}

.grid-item:hover {
  color: #000;
  animation: bounce 0.3s ease-in-out;
}

@keyframes bounce {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
  70% {
    transform: translateY(-2px);
  }
}

.bounce {
  animation: bounce 1s ease-in-out;
}

.grid-item:nth-child(1) {
  background-color: var(--teal);
}

.grid-item:nth-child(2) {
  background-color: var(--pink);
}

.grid-item:nth-child(3) {
  background-color: var(--orange);
}

.grid-item:nth-child(4) {
  background-color: var(--green);
}

.high-score {
  font-size: 2vh;
  color: var(--white);
}

.first,
.second,
.third {
  font-weight: bold;
}

.fiesteros-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 3rem;
  overflow-x: auto;
  max-width: 100%;
}

.fiestero-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: fit-content;
}

.fiestero-avatar {
  width: 50px;
  height: 50px;
  border: 3px solid var(--white);
  border-radius: 5px;
  margin-bottom: 5px;
}

.fiestero-item span {
  font-size: 0.9rem;
  color: var(--white);
  text-align: center;
}

.grid-item.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.grid-item.selected-answer {
  opacity: 1;
}

.grid-item.disabled:not(.selected-answer) {
  opacity: 0.5;
}

.selected-answer {
  transform: scale(1.0);
  border-width: 0.6vw !important;
  position: relative;
  opacity: 1;
  box-shadow: none !important;
}

.selected-answer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

.disabled {
  pointer-events: none;
}

.result-indicator {
  position: fixed;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.result-icon {
  font-size: 50rem;
}

.result-icon.correct {
  color: #4CAF50;
}

.result-icon.incorrect {
  color: red;
}

.timer {
  font-size: 60px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.timer-icon {
  color: var(--light-blue);
}

.timer-warning {
  color: #ff0000;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* Mobile-specific styles */
@media (max-width: 1024px) {
  .gameuno-container {
    padding: 2rem;
    justify-content: center;
    height: auto; 
    align-items: center;
  }

  .gameuno-container .header, 
  .gameuno-container .footer,
  .question-section,
  .timer {
    display: none;
  }

  .grid-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    margin: 1rem 0;
  }

  .grid-item {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 100%;
    font-size: 2vh;
    padding: 10vh 1vh;
  }
}