/**
 * HEADER STYLING
 * 
 * @author Andy Nguyen
 * 
 * @description
 *    This file contains the styles for the header component, ensuring it is
 *    visually appealing, interactive, and responsive. 
 */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 1vw;
  background-color: var(--light-blue);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
}

.header-title {
  text-align: center;
  font-size: 2rem;
  color: #000;
  margin: 0;
  /* border: 0; */
}

.user-greeting {
  display: flex;
  font-size: 15rem;
  align-items: center;
  gap: 1vw;
}

.logout-button, .join-room-button {
  color: #000;
  cursor: pointer;
  padding: 2vh;
  margin: 1vh 1vw;
  width: auto;
  font-size: 0.75rem;
}

.logout-button {
  width: 150px;
  border: 5px solid #000;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 3px 3px #000;
  background-color: var(--amber);
}

.join-room-button {
  width: 150px;
  border: 5px solid #000;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 3px 3px #000;
  background-color: var(--pink);
}

.join-room-button:active {
  box-shadow: 0 0 #000;
  transform: translate(0.25vw, 0.25vw);
  outline: none;
}

.join-room-button:hover, .logout-button:hover {
  background-color: var(--orange);
  animation: bounce 0.3s;
}

.user-name {
  color: #000;
  font-size: 1rem;
  margin-right: 1vw;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-icon {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .header {
    padding: 0 0.5rem;
  }

  .header-title {
    display: none;
  }

  .header-icon {
    width: 30px;
    height: 30px;
  }

  .user-name {
    font-size: 0.75rem;
  }

  .logout-button, .join-room-button {
    font-size: 1rem;
    padding: 1vh;
    margin: 0.5vh, 0.5vw;
  }

  .user-greeting{
    margin-left: 1rem;
  }
}