/**
 * SIGNUP STYLING
 * 
 * @author Andy Nguyen
 * 
 * @description
 *    This file contains styling for the signup page, focusing on layout,
 *    form elements, and user interaction.
 */

@import url("App.css");

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px); /* Move up */
  }
  50% {
    transform: translateY(0); /* Move back to original */
  }
  70% {
    transform: translateY(-2px); /* Move slightly up */
  }
  100% {
    transform: translateY(0); /* End at original position */
  }
}

.signup-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--green);
  background-repeat: repeat;
  background-size: auto;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.signup-container h1 {
  color: #000;
  text-align: center;
  background-color: var(--light-blue);
  border: 0.5vw solid #000;
  border-radius: 0;
  box-shadow: 0.5vw 0.5vw #000;
  font-size: 3vh;
  margin: 1rem;
  padding: 1rem 0;
  width: 100%;
  max-width: 400px;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 0.5vw solid #000;
  border-radius: 0;
  box-shadow: 0.5vw 0.5vw #000;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
}

.signup-container label {
  font-size: 1rem;
  font-weight: bold;
  color: #000;
}

.signup-container input {
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.15rem;
}

.signup-container input:focus {
  border-color: var(--light-blue);
  outline: none;
}

.signup-container button {
  padding: 10px;
  background-color: var(--light-blue);
  color: #000;
  cursor: pointer;
  font-size: 16px;
  margin-top: 0.75rem;
  border: 0.25vw solid #000;
  border-radius: 0;
  font-weight: bold;
  transition: 0.1s;
  box-shadow: 0.25vw 0.25vw #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container button:hover {
  background-color: var(--orange);
  animation: bounce 0.3s;
}

.signup-container .error-message {
  color: red;
  text-align: center;
}

.signup-container p {
  text-align: center;
  margin-top: 1rem;
}
